footer {
    background-color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    border-top: 1px solid #CCCCCC;
}

footer p {
    padding-top: 5px;
}